*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

:root {
  --sa: 1;
  --br: 1;
}

.header {
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    color: white;
}

.header h1 {
    color: white;
}

h1 {
    color: #2e7bcf;
    border-bottom: 1px solid #2e7bcf;
    padding-bottom: 0;
}

.content-wrapper {
    position: relative;
    margin: 0 auto;
    width: 90 vmin;
    max-width: 1200px;
}

/* .table-wrap {
    margin: 0 auto;
}

td {
    max-width: 30vmin;
} */

table img {
    /* width: 100%; */
    filter: saturate(var(--sa)) brightness(var(--br));
}


/* SVG */

.tab {
    transform: scale(0);
    /* display: none; */
    transition: transform 1s;

    /* transform-origin: 455px 338px; */
    /* <foreignObject x="157.05" y="125.21" width="455" height="338"> */
    /* transform-origin: 383px 289px; */
    transform-origin: 0 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #tab1 {
    transform-origin: center;
}

#tab2 {
    transform-origin: center;
}

#tab3 {
    transform-origin: center;
}

#tab4 {
    transform-origin: center;
} */

.tab-active {
    transform: scale(1);
    /* display: block; */
}

.s-tab {
    fill: #fff;
    opacity: 0.71;
    transition: fill .2s ease-out, opacity 1s;
}

.s-tab-active {
    fill: #0081ff5e;
    opacity: 1;
}

.c-tab {
    fill: #e1eaf7;
    stroke: #e6e6e6;
    stroke-miterlimit: 10;
    opacity: 0.21;
}

/* svg foreignObject {
    background-color: red;
} */

foreignObject img {
    width: 100%;
}

/* SVG end */
