.header {
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    font-family: 'Architects Daughter', cursive;
    color: white;
}

.table-wrap {
    margin: 0 auto;
}

td {
    max-width: 30vmin;
}

img {
    width: 100%;
}
