*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blueprint {
    --c1: #23ca8733;
    --c2: var(--c1);
    background-color:slategray;

    background-image:
        linear-gradient(var(--c1) 1px, transparent 1px),
        linear-gradient(90deg, var(--c1) 1px, transparent 1px),

        linear-gradient(var(--c2) 1px, transparent 1px),
        linear-gradient(90deg, var(--c2) 1px, transparent 1px);
        
    background-size: 200px 200px, 200px 200px, 20px 20px, 20px 20px;
    background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

body {
    min-height: 100vh;

    color: white;
    font-family: 'Architects Daughter', cursive;
}

main {
    padding: 3em;
}

/* header */

header {
    color: #1b0202;
    text-align: center;
}

#title {
    transition: 3s filter;
    filter: grayscale(100%);
    width: 75%;
    max-height: 300px;
}

header p {
    padding-bottom: 1em;
}

/* countdown and final text */

.countdown-wrap {
    position: relative;
    height: 3.4em;
    display: grid;
    place-items: center;
}

#countdown {
    padding-bottom: 0;
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px 1px #363636;
    transition: 1s transform;
}

.thatsall {
    height: 30px;
}

.thatsall path {
    display: none;
}

/* images */

.container {
    margin-top: .4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 1em;
    place-items: center;
}

.grid-item-body img {
    width: 100%;
    transition: .4s transform;
}

.grid-item-body img:hover {
    transform: scale(1.2);
    filter: none;
}

.state-normal {
    filter: grayscale(100%);
    animation: hide-card 2s;
}

@keyframes hide-card {
    20% {
        transform: scale(.4);
        opacity: .2s;
    }
    60% {
        transform: scale(1.2);
    }
}

.state-popup {
    transform: scale(1.2);
    filter: none;
}

/* done */

.github-corner {
    --theme-color: #6a7989;
    
    border-bottom: 0;
    position: fixed;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 1
}

.github-corner svg {
    color: #708090;
    fill: var(--theme-color,#42b983);
    height: 80px;
    width: 80px
}

.github-corner:hover svg {
    color: #d9d9d9;
}

.github-corner:hover .octo-arm {
    -webkit-animation: octocat-wave .56s ease-in-out;
    animation: octocat-wave .56s ease-in-out
}

@-webkit-keyframes octocat-wave {
    0%,to {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@keyframes octocat-wave {
    0%,to {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}
